
/* variables */
$card-primary: #5abfeb;
$card-secondary: #fff;
$card-copywrite: #bababa; 

$card-background: #202020;
$page-background: #333;

$font-size-copywrite-mobile: 18px;
$font-size-header-mobile: 24px;

$font-size-copywrite-tablet: 16px;
$font-size-header-tablet: 20px;

$font-size-copywrite-desktop: 15px;
$font-size-header-desktop: 20px;

/* mixins */
@mixin card-layout($side-margin, $font-size-copywrite, $font-size-header) {
    margin: 0 $side-margin;
    display: flex;

    font-size: $font-size-copywrite;

    &__header {
        margin: 0 0 20px 0;
        font-size: $font-size-header;
    }

    &__card {
        width: 50%;
        background-color: $card-background;
        border-top: 3px solid $card-primary;
    }
}

/* component (BEM pattern) */
.rbcomponent {

    margin: 40px 40px 40px 30px;

    font-family: Sans-Serif;
    font-size: $font-size-copywrite-mobile;
    line-height: 1.35;

    color: $card-copywrite;

    &--primary-color {
        color: $card-primary;
    }

    &--secondary-color {
        color: $card-secondary;
    }

    &__header {
        margin: 0 0 20px 0;
        font-size: $font-size-header-mobile;
    }

    &__quote-author {
        text-align: right;

        font-size: 42px;
        font-family: 'jenna_sueregular';
    }

    &__quote-icon {
        display: none; // hide quote icon on mobile and tablet
    }

    &__article {

        &-header {
            font-weight: bold;
            margin-right: 10px;
        }

        &-date {
            font-weight: bold;
        }
    }

    // additional styles for tablet
    @include mq_tablet {

        @include card-layout(15px, $font-size-copywrite-tablet, $font-size-header-tablet);

        &__card {
            padding: 30px 11px 0px 30px;
            margin: 20px 15px 30px 15px;
        }

    }

    // additional styles for desktop
    @include mq_desktop {

        @include card-layout(125px, $font-size-copywrite-desktop, $font-size-header-desktop);

        &__card {
            padding: 20px 17px 10px 20px;
            margin: 26px 15px 20px 15px;
        }

        &__quote-author {
            position: relative;
            right: 15%;
        }

        &__quote {
            padding-left: 40px;
            position: relative;
            z-index: 1;

            &-icon {
                height: 70px;
                width: 70px;
                display: block;
                position: absolute;
                top: 75px;
                z-index: 0;
            }
        }

        &__article {
            padding-left: 18px;

            &:before {
                content: url('../images/article-icon.png');
                margin: 0 4px 0 -24px;
            }
        }

    }

}