
/* variables */
$card-primary: #5abfeb;
$card-secondary: #fff;
$card-copywrite: #bababa; 

$card-background: #202020;
$page-background: #333;

/* component (BEM pattern) */
.rbcomponent {

    color: $card-copywrite;

    &--primary-color {
        color: $card-primary;
    }

    &--secondary-color {
        color: $card-secondary;
    }

}