
/* variables */
$card-primary: #5abfeb;
$card-secondary: #fff;
$card-copywrite: #bababa; 

$card-background: #202020;
$page-background: #333;

$font-size-copywrite-mobile: 18px;
$font-size-header-mobile: 24px;

$font-size-copywrite-tablet: 16px;
$font-size-header-tablet: 20px;

$font-size-copywrite-desktop: 15px;
$font-size-header-desktop: 20px;

/* component (BEM pattern) */
.rbcomponent {

    margin: 40px 40px 40px 30px;

    font-family: Sans-Serif;
    font-size: $font-size-copywrite-mobile;
    line-height: 1.35;

    color: $card-copywrite;

    &--primary-color {
        color: $card-primary;
    }

    &--secondary-color {
        color: $card-secondary;
    }

    &__header {
        margin: 0 0 20px 0;
        font-size: $font-size-header-mobile;
    }

    &__quote-author {
        text-align: right;

        font-size: 43px;
        font-family: 'jenna_sueregular';
    }

    &__article {

        &-header {
            font-weight: bold;
            margin-right: 10px;
        }

        &-date {
            font-weight: bold;
        }
    }

    // additional styles for tablet
    @include mq_tablet {

        margin: 0 15px;
        display: flex;

        font-size: $font-size-copywrite-tablet;

        &__header {
            margin: 0 0 20px 0;
            font-size: $font-size-header-tablet;
        }

        &__card {
            width: 50%;
            padding: 30px 17px 0px 30px;
            margin: 20px 15px 30px 15px;
             
            background-color: $card-background;
            border-top: 3px solid $card-primary;
        }

    }

    // additional styles for desktop
    @include mq_desktop {

        margin: 0 125px;
        display: flex;

        font-size: $font-size-copywrite-desktop;

        &__quote-author {
            position: relative;
            right: 15%;
        }

        &__header {
            margin: 0 0 20px 0;
            font-size: $font-size-header-desktop;
        }

        &__card {
            width: 50%;
            padding: 20px 17px 10px 20px;
            margin: 26px 15px 20px 15px;
             
            background-color: $card-background;
            border-top: 3px solid $card-primary;
        }

        &__quote {
            padding-left: 40px;
        }

        &__article-header, &__article-summary {
            padding-left: 18px;
        }

    }

}