@import 'fonts';

@import 'media-queries';
@import 'robotmagic-component';

/* global styles */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: $page-background;
    margin: 0;
}

p {
    margin: 0 0 12px 0;
}

.caps {
    text-transform: uppercase;
}