@import 'fonts';

@import 'media-queries';
@import 'robotmagic-component';

/* global styles */
body {
    background-color: $page-background;
}

p {
    margin: 0 0 15px 0;
}

.caps {
    text-transform: uppercase;
}