/* variables */
/* component (BEM pattern) */
.rbcomponent {
  color: #bababa; }
  .rbcomponent--primary-color {
    color: #5abfeb; }
  .rbcomponent--secondary-color {
    color: #fff; }

/* global styles */
body {
  background-color: #333; }

.caps {
  text-transform: uppercase; }
